a:link {
   color: #2F4F4F;
}
a:visited {
   color : #654321;
}
a:hover	{
   text-decoration: underline;
   color : #B1B87A;
}
a:active {
   color: #B1B87A;
}

h1, h2, h3, h4 {
   color: #235349;
}

ul.linklist li:before { /* TAV */
   content: "\2022 \0020";
   color: #2F4F4F;
} 