doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://assets.annotateit.org/annotator/v1.2.5/annotator-full.min.js")
    link(rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.5/annotator.min.css")
  body
    block content
